<td class="centered checklist-description-column">{{item.description}}</td>
{{#if item.commentOnly}}
  <td colspan="2" class="centered centered-content">
    {{view Checklists.ResizableTextArea class="textarea-animated checklist-single-comment-field" name="comment" valueBinding="item.comment"}}
  </td>
{{else}}
  <td class="centered centered-content checklist-status-column">
  {{#if item.freeText}}
    {{view Checklists.ResizableTextArea class="textarea-animated" name="status" valueBinding="item.status"}}
  {{else}}
    {{view Checklists.Select2 class="input-medium" containerCssClass="checklist-select2" placeholder="Status" deletedBinding="item.deleted" selectionBinding="item.status" contentBinding="item.choices"}}
  {{/if}}
  </td>
  <td class="centered centered-content checklist-comment-column">{{view Checklists.ResizableTextArea class="textarea-animated" name="comment" valueBinding="item.comment"}}</td>
{{/if}}