{{#if canDisplay}}
  <div class="span6 offset3 centered-content">
    <div class="well centered-content">
      <div class="row-fluid">
      <h1>{{name}} checklist for {{longFormattedDate}}</h1>
      <div class="row-fluid">
        <button class="btn pull-left" {{action goToPrevious}}><< Prev</button>
        <button class="btn pull-right" {{action goToNext}}>Next >></button>
      </div>
      <table class="table table-stripped table-bordered">
        <thead>
          <tr>
            <th><h3>Systems functional checks</h3></th>
            <th><h3>Status</h3></th>
            <th><h3>Comment</h3></th>
          </tr>
        </thead>
        <tbody>
          {{#each group in groups}}
          <tr><td class="group-header" colspan="3"><h4>{{group.title}}</h4></td></tr>
              {{#each item in group.checks}}
                <tr>
                  <td class="centered">{{item.description}}</td>
                  <td class="centered centered-content">
                    {{view Ember.Select
                        class="input-small"
                        contentBinding="Checklists.CheckValues"
                        selectionBinding="item.status"}}
                  </td>
                  <td class="centered centered-content">{{view Checklists.ResizableTextArea class="textarea-animated" name="description" valueBinding="item.comment"}}</td>
                </tr>
              {{/each}}
          {{/each}}
        </tbody>
      </table>
      </div>
      <div class="centered-box row-fluid">
        <div class="center-box pull-left">
          <button class="btn pull-left" {{action goToPrevious}}><< Prev</button>
          <button class="btn pull-left" {{action goToNext}}>Next >></button>
        </div>
        <div class="center-box pull-right">
          {{#if closed}}
            <div class="pull-right alert alert-info">Day closed</div>
          {{else}}
            <button class="btn btn-primary pull-right" {{action saveChecklist this}}>Save</button>
            <button class="btn btn-warning pull-right" {{action closeChecklist this}}>Save &amp; Close</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{#if isSaved}}
    {{view Checklists.OverlayView}}
  {{else}}
    {{view Checklists.SavingOverlayView}}
  {{/if}}
{{/if}}
