<div class="accordion-group checklist-accordion-group">
  <div class="accordion-heading checklist-accordion-heading">
    <a class="accordion-toggle checklist-accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#" {{action toggleGroup group target="view"}}>
      <div class="row-fluid">
        <div class="inline">
          <i {{bindAttr class="group.collapsed:icon-caret-down:icon-caret-right"}}></i>&nbsp;{{group.title}}
        </div>
        <div class="progress pull-right inline group-progress">
          <div class="bar bar-success" {{bindAttr style="view.successpct"}}></div>
          <div class="bar bar-danger" {{bindAttr style="view.warnpct"}}></div>
        </div>
        <div class="pull-right inline group-warning">
          {{#if view.hasWarnings}}
            <span class="label label-important">Found {{view.warncount}} warnings</span>&nbsp;
          {{/if}}
        </div>
      </div>
    </a>
  </div>
  <div id="collapseOne" {{bindAttr class=":accordion-body :collapse view.collapsed:in"}}>
    <div class="accordion-inner checklist-accordion-inner">
        <table class="table table-stripped table-bordered checklist-table ">
          <tbody>
            {{#each item in group.checks}}
              {{view Checklists.CheckView}}
            {{/each}}
          </tbody>
        </table>
    </div> 
  </div>
</div>
