{{#if canDisplay}}
  <div class="span6 offset3 centered-content">
    <div class="well centered-content">
      <div class="row-fluid">
      <h1>{{name}} template</h1>
        <button class="btn btn-success pull-right" {{action addGroup group.name target="view"}}><i class="icon-plus"></i>&nbsp;Add Group</button>
        <table class="table table-stripped table-bordered">
          <tbody>
            {{#each group in groups}}
              <tr class="group-header">
                  <td><h4>{{group.title}}</h4></td>
                  <td class="centered">
                    <button class="btn btn-success pull-right" {{action addCheck group.name target="view"}}><i class="icon-plus"></i>&nbsp;</button>
                    <button class="btn btn-danger pull-right" {{action deleteGroup group.name target="view"}}><i class="icon-trash"></i>&nbsp;</button>
                  </td>
              </tr>
                {{#each item in group.checks}}
                  <tr>
                    <td>{{view Ember.TextField class="input-xlarge" name="check" valueBinding="item.title"}}</td>
                    <td class="centered">{{item.pos}}<button class="btn btn-danger pull-right" {{action deleteCheck item group target="view"}}><i class="icon-trash"></i>&nbsp;</button></td>
                  </tr>
                {{/each}}
            {{/each}}
          </tbody>
        </table>
        <div class="row-fluid">
          <button class="btn btn-primary pull-right" {{action saveTemplate this}}>Save</button>
          <button class="btn pull-right" {{action goToMain}}>Cancel</button>
        </div>
    </div>
  </div>
{{else}}
  {{#if isSaved}}
    {{view Checklists.OverlayView}}
  {{else}}
    {{view Checklists.SavingOverlayView}}
  {{/if}}
{{/if}}