{{#if canDisplay}}
  <div class="span8 offset2 centered-content">
    <div class="well centered-content">
      <div class="row-fluid">
      <h1>{{name}} template</h1>
        <button class="btn btn-success pull-right" {{action addGroup group.position target="view"}}><i class="icon-plus"></i>&nbsp;Add Group</button>
        <table class="table table-stripped table-bordered">
          <tbody>
            {{#each group in groups}}
              <tr class="group-header">
                  <td class="centered">
                    <div>
                      {{view Checklists.TemplateField class="template-field input-xlarge" name="group" valueBinding="group.title"}}
                    </div>
                  </td>
                  <td class="centered">
                    <div class="centered-box template-buttons-area">
                      <button class="btn centered" {{action moveGroupUp group.position target="view"}}><i class="icon-chevron-up"></i></button>
                      <button class="btn centered" {{action moveGroupDown group.position target="view"}}><i class="icon-chevron-down"></i></button>
                    </div>
                  </td>
                  <td class="centered">
                    <button class="btn btn-success pull-right" {{action addCheck group.position target="view"}}><i class="icon-plus"></i>&nbsp;</button>
                    <button class="btn btn-danger pull-right" {{action deleteGroup group.position target="view"}}><i class="icon-trash"></i>&nbsp;</button>
                  </td>
              </tr>
                {{#each item in group.checks}}
                  <tr>
                    <td>{{view Checklists.TemplateField class="template-field input-xxlarge" name="check" valueBinding="item.title"}}</td>
                    <td class="centered">
                      <div class="centered-box">
                        <button class="btn centered" {{action moveUp item.position group.position target="view"}}><i class="icon-chevron-up"></i></button>
                        <button class="btn centered" {{action moveDown item.position group.position target="view"}}><i class="icon-chevron-down"></i></button>
                      </div>
                    </td>
                    <td class="centered">
                      <button class="centered-box btn btn-danger pull-right" {{action deleteCheck item.position group.position target="view"}}><i class="icon-trash"></i></button></td>
                  </tr>
                {{/each}}
            {{/each}}
          </tbody>
        </table>
        <div class="row-fluid">
          <button class="btn btn-primary pull-right" {{action saveTemplate this}}>Save</button>
          <button class="btn pull-right" {{action goToMain}}>Cancel</button>
        </div>
    </div>
  </div>
{{else}}
  {{#if isSaved}}
    {{view Checklists.OverlayView}}
  {{else}}
    {{view Checklists.SavingOverlayView}}
  {{/if}}
{{/if}}