{{#if isLoaded}}
  <div class="span10 offset1 centered-content">
    <div class="well centered-content">
      <div class="row-fluid">
      <h1>Report for {{site}} on {{monthName}}, {{year}}</h1>

      </div>
    </div>
  </div>
{{else}}
  {{view Checklists.OverlayView}}
{{/if}}
