{{#if isLoaded}}
  <div class="span10 offset1 centered-content">
    <div class="well centered-content">
      <div class="row-fluid">
      <h1>Report for {{site}} on {{monthName}}, {{year}}</h1>
        {{#if containsReports}}
        <table class="report-table table table-bordered table-striped">
          <thead>
            <tr>
              <th class="report-day-column">Day</th>
              <th class="report-result-column">State</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
          {{#each s in content}}
            {{view Checklists.DailySummaryRowView}}
          {{/each}}
          </tbody>
        </table>
        {{else}}
            <div class="alert alert-block">
              <h4>Note!</h4>
              There are no checklists recorded for {{monthName}}, {{year}}
            </div>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  {{view Checklists.OverlayView}}
{{/if}}
