<div id="collapseOne" {{bindAttr class=":accordion-body :collapse group.collapsed:in"}}>
  <div class="accordion-inner checklist-accordion-inner">
    <table class="table-bordered table-condensed">
      <tbody>
        <tr>
          <td class="centered checklist-template-name-column">
            <div class="centered-box">
              {{view Checklists.TemplateField class="mousetrap template-field input-adjusted" name="check" valueBinding="title"}}
              <button class="btn btn-info centered" {{action showChoices target="view"}}><i class="icon-check"></i></button>
            </div>
            {{#if view.choicesDisplayed}}
              {{view Checklists.ChoicesList contextBinding="this"}}
            {{/if}}
          </td>
          <td class="centered template-buttons-area">
            <div class="centered-box">
              <button class="btn centered" {{action moveUp this group target="view.parentView"}}><i class="icon-chevron-up"></i></button>
              <button class="btn centered" {{action moveDown this group target="view.parentView"}}><i class="icon-chevron-down"></i></button>
            </div>
          </td>
          <td class="centered template-buttons-area">
            <div class="centered-box">
              <button class="centered btn btn-danger pull-right" {{action deleteCheck this group target="view.parentView"}}><i class="icon-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>